.actors-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    
    width: 100%;
    padding: 2rem 8rem;
    list-style: none;
    gap: 4rem;
}



.actor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(93, 9, 122);
    font-size: 1.5em;
    cursor: pointer;
    transition: all ease 0.2s;
    width: 220px;
}

.actor-photo-circular{
    border: none;
    border-radius: 200px;

    transition: transform ease 0.1s;
}

.actor-photo-circular:hover{
    transform: scale(1.2);
}

.actor-photo{
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 60px 26px 0 rgba(0,0,0,0.4);
}

.actor > span{
    width: 100%;
    background: linear-gradient(90deg, var(--selection-color), var(--selection-color-variant));
    text-align: center;
    padding: 0.4rem;
    font-size: 0.8em;
}

.actor:hover{
    transform: rotate(1deg);
}

.actors-circular{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem;
    gap: 1rem;
    list-style: none;
}

.actors-circular li{
    padding: 0.5rem;
}