body{
    background: linear-gradient(60deg,var(--variant-color), var(--main-color));
    height: 100%;
    background-attachment: fixed;
}


.home-container{
    padding: 0 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-container h1{
    font-size: 4em;
    color: var(--selection-color-variant);
    text-align: center;
    padding: 4rem;
}

.selection{
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
}

.selection input, select{
    padding: 0.6rem;
    border: none;
    border-radius: 16px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.6);
}

.selection input:hover, select:hover{
    border: 1px solid var(--variant-color);
}

/* .home-container input{
    padding: 0.6rem;
    margin-bottom: 80px;

} */