
.library-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4rem 8rem;
    gap: 8rem;
    list-style: none;
    overflow: hidden;
    height: 400px;
}

.libraryList-container{
    /* padding: 4rem 2rem; */
    text-align: center;
    width: 460px;
    height: 100px;
    background: linear-gradient(140deg, var(--selection-color-variant) , transparent), rgba(0,0,0,0.2);
    border-radius: 16px;
    box-shadow: 0px -20px 16px 1px var(--main-color);    
    transition: all linear 0.25s;
    border: 1px solid rgba(164, 143, 113, 0.6);
}


.libraryList-container:hover{
    transform: scale(1.02);
    background: linear-gradient(140deg, var(--selection-color), var(--main-color));
    box-shadow: 0px 10px 24px 2px #720455;
}


.libraryList{
    color: var(--variant-color);
    font-weight: bold;
    font-size: 1.2em;
    width: 100%;
    height: 100%;
    text-align: center;
}



